In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
import math

In [5]:
collision_data=pd.read_csv('pd_collisions_datasd.csv')
collision_data.head()

,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,170166,2017-01-01 00:01:00,124,8300,,CAM DEL ORO,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
1,170218,2017-01-01 00:01:00,325,8100,,ROYAL GORGE,DRIVE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
2,170101,2017-01-01 00:01:00,322,6400,,CRAWFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
3,170082,2017-01-01 00:01:00,935,5500,,VALERIO,TRAIL,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
4,170097,2017-01-01 01:00:00,521,1000,,11TH,AVENUE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR

In [6]:
collision_data_cleaned=collision_data[['date_time', 'street_name', 'street_type', 'injured', 'killed']]

In [32]:
count = np.ones(collision_data_cleaned.shape[0])
collision_data_cleaned['count'] = count
del collision_data_cleaned['new_col']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
collision_data_cleaned.head()

             date_time  street_name street_type  injured  killed  count
0  2017-01-01 00:01:00  CAM DEL ORO                    0       0    1.0
1  2017-01-01 00:01:00  ROYAL GORGE       DRIVE        0       0    1.0
2  2017-01-01 00:01:00     CRAWFORD      STREET        0       0    1.0
3  2017-01-01 00:01:00      VALERIO       TRAIL        0       0    1.0
4  2017-01-01 01:00:00         11TH      AVENUE        0       0    1.0

In [34]:
collision_data_cleaned.head()

             date_time  street_name street_type  injured  killed  count
0  2017-01-01 00:01:00  CAM DEL ORO                    0       0    1.0
1  2017-01-01 00:01:00  ROYAL GORGE       DRIVE        0       0    1.0
2  2017-01-01 00:01:00     CRAWFORD      STREET        0       0    1.0
3  2017-01-01 00:01:00      VALERIO       TRAIL        0       0    1.0
4  2017-01-01 01:00:00         11TH      AVENUE        0       0    1.0

In [35]:
count_data=pd.read_csv('traffic_counts_datasd.csv')
count_data.head()

,id,street_name,limits,all_count,northbound_count,southbound_count,eastbound_count,westbound_count,total_count,file_no,count_date
0,01AV018207,01 AV,A ST - ASH ST,,18010,NaN,NaN,NaN,18010,0182-07,2007-03-13 00:00:00
1,01AV015210,01 AV,A ST - ASH ST,,20060,NaN,NaN,NaN,20060,0152-10,2010-03-18 00:00:00
2,01AV018213,01 AV,A ST - ASH ST,,19597,NaN,NaN,NaN,19597,0182-13,2013-03-12 00:00:00
3,01AV088812,01 AV,ASH ST - BEECH ST,,2298,NaN,NaN,NaN,2298,0888-12,2012-12-11 00:00:00
4,01AV068711,01 AV,B ST - A ST,,15625,NaN,NaN,NaN,15625,0687-11,2011-09-01 00:00:00

In [36]:
count_data_cleaned=count_data[['street_name', 'total_count','count_date']]
count_data_cleaned.head()
count_data_cleaned.rename({'count_date': 'date_time'},axis=1)

          street_name  total_count            date_time
0               01 AV        18010  2007-03-13 00:00:00
1               01 AV        20060  2010-03-18 00:00:00
2               01 AV        19597  2013-03-12 00:00:00
3               01 AV         2298  2012-12-11 00:00:00
4               01 AV        15625  2011-09-01 00:00:00
5               01 AV        13569  2014-02-11 00:00:00
6               01 AV        13389  2012-05-31 00:00:00
7               01 AV        13995  2015-06-17 00:00:00
8               01 AV        27450  2006-03-23 00:00:00
9               01 AV        22345  2009-03-31 00:00:00
10              01 AV        18742  2012-03-08 00:00:00
11              01 AV        24463  2015-04-30 00:00:00
12              01 AV        25715  2016-03-30 00:00:00
13              01 AV        10410  2008-01-08 00:00:00
14              01 AV        12905  2011-02-08 00:00:00
15              01 AV        11278  2014-02-11 00:00:00
16              01 AV         3920  2006-03-30 00:00:00
17              01 AV         3285  2009-03-31 00:00:00
18              01 AV         3414  2012-03-08 00:00:00
19              01 AV         3419  2014-08-05 00:00:00
20              01 AV         3477  2015-04-30 00:00:00
21              01 AV         3474  2016-03-01 00:00:00
22              01 AV        11148  2012-05-10 00:00:00
23              01 AV        11421  2015-06-09 00:00:00
24              01 AV        10003  2012-05-10 00:00:00
25              01 AV        10774  2015-06-10 00:00:00
26              01 AV         3820  2011-08-30 00:00:00
27              01 AV         4068  2014-02-11 00:00:00
28              01 AV         3552  2014-08-05 00:00:00
29              01 AV         3355  2015-12-22 00:00:00
...               ...          ...                  ...
11629  WORLD TRADE DR         7770  2007-02-22 00:00:00
11630  WORLD TRADE DR         9480  2010-02-23 00:00:00
11631  WORLD TRADE DR         8176  2013-02-26 00:00:00
11632  WORLD TRADE DR         7300  2017-02-15 00:00:00
11633  WORLD TRADE DR        10214  2017-04-25 00:00:00
11634  WORLD TRADE DR         8260  2007-02-22 00:00:00
11635  WORLD TRADE DR         9145  2010-02-23 00:00:00
11636  WORLD TRADE DR         8223  2013-02-21 00:00:00
11637  WORLD TRADE DR         9537  2017-02-15 00:00:00
11638  WORLD TRADE DR         4880  2007-02-22 00:00:00
11639  WORLD TRADE DR         5805  2010-03-02 00:00:00
11640  WORLD TRADE DR         5179  2013-02-26 00:00:00
11641  WORLD TRADE DR         7890  2017-02-28 00:00:00
11642       WORSCH DR         1409  2012-03-27 00:00:00
11643       WORSCH DR         1696  2015-05-21 00:00:00
11644       WORSCH DR         1431  2017-04-27 00:00:00
11645    WYNDHAVEN DR          543  2017-05-25 00:00:00
11646  YERBA SANTA DR         2290  2010-06-24 00:00:00
11647   YSABEL CRK RD          605  2010-06-22 00:00:00
11648         ZION AV        10890  2010-06-24 00:00:00
11649         ZION AV        12940  2007-05-29 00:00:00
11650         ZION AV        11385  2010-05-26 00:00:00
11651         ZION AV        11732  2013-04-25 00:00:00
11652         ZION AV        11560  2011-08-11 00:00:00
11653         ZION AV        12697  2014-12-10 00:00:00
11654          ZOO PL         6300  2005-04-07 00:00:00
11655          ZOO PL         9430  2008-03-20 00:00:00
11656          ZOO PL         5595  2014-05-24 00:00:00
11657          ZOO PL         4425  2014-12-16 00:00:00
11658          ZOO PL         6274  2018-04-17 00:00:00

[11659 rows x 3 columns]

In [39]:
grouped_collision=collision_data_cleaned.groupby('street_name').sum()
grouped_collision

                 injured  killed  count
street_name
 ARROYO ROSITA         1       0    1.0
 EAST DR               1       0    1.0
 FENTON PY             0       0    1.0
 I-15 NB               1       0    1.0
 MIRO CR               1       0    1.0
01:30:00 PM            0       0    1.0
01ST                  54       0   84.0
02ND                  11       0   30.0
03RD                  10       0   28.0
04TH                  70       0  105.0
05TH                  81       0  139.0
06TH                  96       0  147.0
06TH EX                0       0    1.0
07TH                  13       0   30.0
08TH                  12       0   34.0
09TH                  23       0   36.0
1-5 SB                 1       0    1.0
10:15:00 AM            0       0    1.0
10TH                  43       0   65.0
11TH                  40       0   55.0
11TH AV                0       0    1.0
11TH AVET              1       0    1.0
12TH                   1       0    2.0
13TH                   6       0   13.0
14TH                  20       0   37.0
15TH                  14       1   29.0
16TH                  43       0   54.0
17TH                  20       0   33.0
18TH                   1       0    2.0
19TH                   8       1   14.0
...                  ...     ...    ...
WINLOW                 0       0    1.0
WINNETT                1       0    3.0
WINONA                14       0   31.0
WINSTON                1       0    1.0
WITHERBY               6       0    4.0
WOMBLE                 3       0    3.0
WOODCRAFT              1       0    1.0
WOODMAN               36       0   42.0
WOODRIDGE              0       0    1.0
WOODROW                1       0    2.0
WORDEN                 5       0   17.0
WORLD TRADE            7       0   18.0
WORTHINGTON            2       0    1.0
WUNDERLIN              0       0    5.0
WYATT                  0       0    1.0
WYSTONE                0       0    1.0
XENOPHON               0       0    1.0
YAMA                   0       0    1.0
YAZOO                  1       0    1.0
YERBA SANTA            0       0    1.0
YMCA                   0       0    1.0
Z                      4       0    6.0
ZAPATA                 0       0    1.0
ZASLAVSKY              1       0    1.0
ZASLAVSKY PLACE        0       0    1.0
ZENA                   0       0    1.0
ZEST                   0       0    1.0
ZION                   3       0    6.0
ZOO                    4       0   22.0
ZURA                   2       0    1.0

[2496 rows x 3 columns]

In [40]:
grouped_count=count_data_cleaned.groupby('street_name').sum()
grouped_count

                  total_count
street_name
01 AV                  696037
02 AV                   47791
03 AV                   80911
04 AV                  708009
05 AV                  849199
06 AV                 1257625
07 AV                   59831
08 AV                   74704
09 AV                   53779
10 AV                  485243
11 AV                  438112
14 ST                    6466
16 ST                  212697
17 ST                   32491
19 ST                   49546
25 ST                  236581
26 ST                   58438
27 ST                   27442
28 ST                  542711
30  ST                   9713
30 ST                  718655
32 ST                  416495
33 ST                   74171
35 ST                  136294
36 ST                   26144
37 ST                    5191
38 ST                   38525
39 ST                    8238
40 ST                   27501
41 ST                    3705
...                       ...
WABASKA DR              19627
WANDERMERE  DR           1995
WANDERMERE DR           12407
WARD RD                 52742
WARING RD              216742
WASHINGTON PL            1775
WASHINGTON ST         1893957
WAVERLY AV                782
WESTMORE RD             39387
WESTONHILL DR          155883
WESTOVER PL              4467
WESTVIEW PY            304197
WIGHTMAN ST             94930
WILLOW CREEK RD         33308
WILLOW RD               57016
WILLS CREEK RD           3686
WINDING CREEK DR         2200
WINNETT ST              13838
WINONA AV               14610
WITHERBY ST             21065
WOODMAN ST             573237
WOODROW AV               2464
WORDEN ST               38783
WORLD TRADE DR         101859
WORSCH DR                4536
WYNDHAVEN DR              543
YERBA SANTA DR           2290
YSABEL CRK RD             605
ZION AV                 71204
ZOO PL                  32024

[1048 rows x 1 columns]

In [41]:
collision_data

,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,170166,2017-01-01 00:01:00,124,8300,,CAM DEL ORO,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
1,170218,2017-01-01 00:01:00,325,8100,,ROYAL GORGE,DRIVE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
2,170101,2017-01-01 00:01:00,322,6400,,CRAWFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
3,170082,2017-01-01 00:01:00,935,5500,,VALERIO,TRAIL,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
4,170097,2017-01-01 01:00:00,521,1000,,11TH,AVENUE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
5,170220,2017-01-01 01:00:00,524,1000,,A,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
6,170153,2017-01-01 01:18:00,437,2600,,RAMFOS,PLACE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,NaN
7,170035,2017-01-01 01:53:00,935,3900,,DE LA VALLE,,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
8,170044,2017-01-01 01:58:00,115,9100,,SYDNEY,COURT,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
9,170042,2017-01-01 02:00:00,122,1600,,HORNBLEND,STREET,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
10,170041,2017-01-01 02:00:00,122,900,,EMERALD,STREET,,,,22350,VC,VIOLATION OF BASIC SPEED LAW SPEED UNSAFE FOR ...,0,0,MISDEMEANOR
11,170139,2017-01-01 02:03:00,434,0,,IMPERIAL,AVENUE,,VIEWCREST DR,DRIVE,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,NaN
12,170090,2017-01-01 04:10:00,813,2900,,LAUREL,STREET,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
13,170073,2017-01-01 04:43:00,242,10000,,BLACK MTN,ROAD,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,NaN
14,170217,2017-01-01 05:26:00,823,5800,,UNIVERSITY,AVENUE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
15,170074,2017-01-01 06:56:00,243,6900,,MIRAMAR,ROAD,,,,22350,VC,VIOLATION OF BASIC SPEED LAW SPEED UNSAFE FOR ...,1,0,NaN
16,170118,2017-01-01 11:25:00,123,2500,,INGRAHAM,STREET,,,,22350,VC,VIOLATION OF BASIC SPEED LAW SPEED UNSAFE FOR ...,1,0,NaN
17,170067,2017-01-01 11:37:00,123,2400,W,MISSION BAY,DRIVE,,,,22350,VC,VIOLATION OF BASIC SPEED LAW SPEED UNSAFE FOR ...,1,0,NaN
18,170316,2017-01-01 12:30:00,813,2800,,EL CAJON,BOULEVARD,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
19,170045,2017-01-01 13:00:00,111,3200,,ASHFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
20,170068,2017-01-01 13:03:00,122,1100,,GARNET,AVENUE,,,,22517,VC,OPENING AND CLOSING DOORS,1,0,NaN
21,170251,2017-01-01 13:16:00,832,4300,,EL CAJON,BOULEVARD,,,,22450(A),VC,STOP REQUIREMENTS STATE STOP LINE,1,0,NaN
22,170096,2017-01-01 15:30:00,512,2800,,IMPERIAL,AVENUE,,,,22350,VC,VIOLATION OF BASIC SPEED LAW SPEED UNSAFE FOR ...,0,0,FELONY
23,170078,2017-01-01 15:30:00,315,5100,,MISSION CENTER,ROAD,,,,21461A,VC,FAIL TO OBEY TRAFFIC CONTROL DEVICE,1,0,NaN
24,170051,2017-01-01 16:40:00,321,10400,,SAN DIEGO MISSION,ROAD,,,,21703,VC,FOLLOWING TOO CLOSELY,0,0,MISDEMEANOR
25,170257,2017-01-01 18:07:00,611,3700,,SPORTS ARENA,BOULEVARD,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,4,0,NaN
26,170278,2017-01-01 19:30:00,627,100,,WASHINGTON,STREET,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,NaN
27,170146,2017-01-01 19:45:00,822,5800,,EL CAJON,BOULEVARD,,,,21801A,VC,LEFT TURN YIELD UNTIL SAFE OR U-TURN,2,0,NaN
28,170127,2017-01-01 20:36:00,524,700,,08TH,AVENUE,,,,21950B,VC,PEDESTRIAN NOT TO SUDDENLY ENTER PATH ETC,1,0,NaN
29,170122,2017-01-01 22:15:00,841,3400,,COLLEGE,AVENUE,,,,21804,VC,ENTERING HWY FROM PRIVATE ROAD OR DRIVEWAY,3,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22678,19200840,2019-04-10 18:56:14,524,1100,,PACIFIC,HIGHWAY,,,,22517,VC,UNSAFE OPENING OF VEH DOOR (I),1,0,NaN
22679,19011931,2019-04-10 21:26:09,524,1200,,01ST,AVENUE,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),1,0,NaN
22680,19200841,2019-04-10 22:30:23,934,3400,,DEL MAR HEIGHTS,ROAD,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,MISDEMEANOR
22681,19200843,2019-04-11 09:31:51,529,500,,JUNIPER,STREET,,,,21235(G),VC,OPERATE MOTOR SCOOTER UPON SIDEWALK (I),1,0,NaN
22682,19200845,2019-04-11 11:56:00,313,3700,,RUFFIN,ROAD,,,,21801A,VC,RIGHT-OF-WAY:MAKING LEFT OR U-TURN (I),2,0,NaN
22683,19200849,2019-04-11 16:11:00,311,3500,,RUFFIN,ROAD,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),1,0,NaN
22684,19200854,2019-04-11 16:18:10,512,2100,,OCEAN VIEW,BOULEVARD,,,,12500(A),VC,DRVG WITHOUT VALID DRVR'S LIC (M),2,0,NaN
22685,19200852,2019-04-11 17:00:00,313,4400,,CONVOY,STREET,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,MISDEMEANOR
22686,19200850,2019-04-11 18:36:49,518,0,,31ST,STREET,,JUNIPER,STREET,21801A,VC,RIGHT-OF-WAY:MAKING LEFT OR U-TURN (I),1,0,NaN
22687,19200851,2019-04-11 19:12:30,242,10700,,CAM RUIZ,,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),1,0,MISDEMEANOR
22688,19200855,2019-04-11 21:08:00,838,3600,,UNIVERSITY,AVENUE,,,,21804,VC,RIGHT-OF-WAY:ENTERING HWY (I),1,0,MISDEMEANOR
22689,19200860,2019-04-12 07:59:00,315,5300,,SCHEIDLER,WAY,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),0,0,NaN
22690,19200861,2019-04-12 10:27:00,115,9800,,GENESEE,AVENUE,,,,21453A,VC,SIGNAL LIGHTS:CIRCULAR RED (I),1,0,NaN
22691,19200867,2019-04-12 10:57:00,541,0,,FT W OF ECL 200 TONY GWYNN,DRIVE,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,MISDEMEANOR
22692,19200865,2019-04-12 14:00:00,313,3800,,KEARNY MESA,ROAD,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,NaN
22693,19200866,2019-04-12 14:09:50,243,7400,,MIRAMAR,ROAD,,,,21804,VC,RIGHT-OF-WAY:ENTERING HWY (I),0,0,NaN
22694,19200882,2019-04-12 18:10:17,524,600,,07TH,AVENUE,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
22695,19200869,2019-04-12 18:25:00,524,1100,,08TH,AVENUE,,,,21950A,VC,RIGHT-OF-WAY:DRVR YIELD TO PEDESTRIAN IN CROSS...,1,0,NaN
22696,19200871,2019-04-13 01:20:00,523,400,,F,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
22697,19200876,2019-04-13 13:30:41,512,2800,,NATIONAL,AVENUE,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,MISDEMEANOR
22698,19012270,2019-04-13 15:28:23,242,10800,,VIA SAN BLAS,,,,,23152A,VC,DUI ALCOHOL (M),0,0,NaN
22699,19200877,2019-04-13 15:35:00,315,2400,,CAM DEL RIO SOUTH,,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),1,0,NaN
22700,19012292,2019-04-13 19:02:00,512,2100,,KEARNY,AVENUE,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),0,0,NaN
22701,19200878,2019-04-14 01:20:00,111,4100,,ASHFORD,STREET,,,,21460A,VC,LANE USAGE:VEH CROSS DOUBLE SOLID LINE (I),1,0,NaN
22702,19200879,2019-04-14 02:15:00,516,3200,,J,STREET,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,NaN
22703,19200884,2019-04-14 10:51:00,235,15500,,SAN PASQUAL VALLEY,ROAD,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),1,0,NaN
22704,19200885,2019-04-14 10:53:18,315,9100,,FRIARS,ROAD,,,,22350,VC,UNSAFE SPEED (BASIC SPEED LAW) (I),0,0,MISDEMEANOR
22705,19200891,2019-04-14 16:08:00,243,7000,,MIRAMAR,ROAD,,,,21453A,VC,SIGNAL LIGHTS:CIRCULAR RED (I),1,0,NaN
22706,19200894,2019-04-14 18:03:00,116,1500,,MORENA,BOULEVARD,,,,23152(F),VC,DUI ALCOHOL/DRUG (M),1,0,NaN
22707,19200893,2019-04-14 19:41:00,521,800,,10TH,AVENUE,,,,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),1,0,NaN

In [ ]:
%matplotlib inline
y_value=list(grouped_collision['ratio'])
x_value=list(grouped_collision['street_name'])
plt.bar(x_value, y_value, color='red')
plt.show()